*{
    margin:0;
    padding: 0;
    background: url(124.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    font-family: sans-serif;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;

}


h2{
    margin: 10px 20px;
    text-align: center;
    color: rgb(255, 255, 255);
 

    
  
}
nav{
  
 
    display: grid;
    place-items: center;
    background: rgb(238, 183, 32);
    font-size: 28px;


    
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding:20px;
    text-decoration: none;
    color:rgb(255, 255, 255);
   
    transition: 0.2s ease-in;
    font-size: 18px;
}
nav ul a:hover{
    background-color: rgb(252, 223, 2);
    color: rgb(251, 215, 12);
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap:20px ;
    grid-row-gap: 30px;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}

.item img:hover{
    transform: scale(1.04);
}

.item h4{
    font-size: 22px;
    padding: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.item button{
    padding: 5px;
    border: none;
    outline: none;
    background:rgb(237, 193, 32);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 4px;
    font-size: 22px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}
.item button:hover{
    transform: scale(1.08);
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 768px){
    .items{
        grid-template-columns: repeat(1,1fr);
    }
}
.items p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    
}

h5{
    text-align: center;
    font-size: 18px;
    color: white;
}